name: Manual Test, Docker Build/Push + EC2 + k6 Load Test

on:
  workflow_dispatch:
    inputs:
      server_image:
        description: "Which server image to test?"
        required: true
        default: "server"
        type: choice
        options:
          - server
          - callback_server
          - awaitable_server
          - nginx

jobs:
  test-server:
    permissions:
      contents: read
      packages: write

    runs-on: ubuntu-latest

    env:
      SERVER_IMAGE: ${{ github.event.inputs.server_image }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: eu-central-1
      S3_BUCKET: jmyl-github-actions-artifacts
      TARGET_FILE: README.md

    steps:
      - name: Convert repository to lowercase
        run: |
          echo "REPO=${GITHUB_REPOSITORY@L}" >> $GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        if: ${{ env.SERVER_IMAGE != 'nginx' }}
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u jmyl --password-stdin

      - name: Build server Docker image
        if: ${{ env.SERVER_IMAGE != 'nginx' }}
        run: docker build -f docker/Dockerfile --build-arg TARGET=${SERVER_IMAGE} -t ghcr.io/${REPO}/server:latest .

      - name: Push server Docker image
        if: ${{ env.SERVER_IMAGE != 'nginx' }}
        run: docker push ghcr.io/${REPO}/server:latest

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform -chdir=infra init

      - name: Terraform Apply
        env:
          TF_VAR_region: ${{ env.AWS_REGION }}
          TF_VAR_s3_bucket: ${{ env.S3_BUCKET }}
        run: |
          terraform -chdir=infra apply -auto-approve

      - name: Get test_server information
        id: test_server
        run: |
          echo "ip=$(terraform -chdir=infra output -raw test_server_public_ip)" >> $GITHUB_OUTPUT
          echo "instance_id=$(terraform -chdir=infra output -raw test_server_instance_id)" >> $GITHUB_OUTPUT

      - name: Get k6_test information
        id: k6_test
        run: |
          echo "instance_id=$(terraform -chdir=infra output -raw k6_test_instance_id)" >> $GITHUB_OUTPUT

      - name: Wait for test_server EC2 instance to be ready
        uses: ./.github/actions/wait-for-ec2-instance
        with:
          instance_id: ${{ steps.test_server.outputs.instance_id }}
          region: ${{ env.AWS_REGION }}

      - name: Wait for k6_test EC2 instance to be ready
        uses: ./.github/actions/wait-for-ec2-instance
        with:
          instance_id: ${{ steps.k6_test.outputs.instance_id }}
          region: ${{ env.AWS_REGION }}

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Upload files to S3
        run: |
          aws s3 cp Nginx/nginx.conf s3://${{ env.S3_BUCKET }}/nginx.conf
          aws s3 cp k6/script.js s3://${{ env.S3_BUCKET }}/script.js
          aws s3 cp ${{ env.TARGET_FILE }} s3://${{ env.S3_BUCKET }}/${{ env.TARGET_FILE }}

      - name: Run server application
        if: ${{ env.SERVER_IMAGE != 'nginx' }}
        uses: peterkimzz/aws-ssm-send-command@master
        id: test_server_run
        with:
          aws-region: ${{ env.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          instance-ids: ${{ steps.test_server.outputs.instance_id }}

          working-directory: /app
          command: |
            while [ ! -f /var/lib/cloud/instance/boot-finished ]; do sleep 1; done
            docker run -d --name server --security-opt seccomp=unconfined -p 80:80 --entrypoint build/bin/server/${{ github.event.inputs.server_image }} ghcr.io/${REPO}/server:latest 80
            # curl https://img.exim.gov/s3fs-public/dataset/vbhv-d8am/Data.Gov_-_FY25_Q3.csv -o /tmp/test.csv
            # docker cp /tmp/test.csv server:/app

      - name: Get the outputs
        if: ${{ env.SERVER_IMAGE != 'nginx' }}
        run: |
          echo "The Command id is ${{ steps.test_server_run.outputs.command-id }}"
          aws ssm get-command-invocation --command-id ${{ steps.test_server_run.outputs.command-id }} --instance-id ${{ steps.test_server.outputs.instance_id }}

      - name: Run Nginx
        if: ${{ env.SERVER_IMAGE == 'nginx' }}
        uses: peterkimzz/aws-ssm-send-command@master
        id: nginx_run
        with:
          aws-region: ${{ env.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          instance-ids: ${{ steps.test_server.outputs.instance_id }}

          working-directory: /tmp
          command: |
            while [ ! -f /var/lib/cloud/instance/boot-finished ]; do sleep 1; done
            aws cp s3://${{ env.S3_BUCKET }}/nginx.conf nginx.conf
            docker run -d --name server -p 80:80 -v /tmp/nginx.conf:/etc/nginx/nginx.conf:ro nginx:alpine
            # curl https://img.exim.gov/s3fs-public/dataset/vbhv-d8am/Data.Gov_-_FY25_Q3.csv -o /tmp/test.csv
            aws s3 cp s3://${{ env.S3_BUCKET }}/${{ env.TARGET_FILE }} ${{ env.TARGET_FILE }} 
            docker cp ${{ env.TARGET_FILE }}  server:/usr/share/nginx/html/
            docker exec server nginx -s reload

      - name: Get the outputs
        if: ${{ env.SERVER_IMAGE == 'nginx' }}
        run: |
          echo "The Command id is ${{ steps.nginx_run.outputs.command-id }}"
          aws ssm get-command-invocation --command-id ${{ steps.nginx_run.outputs.command-id }} --instance-id ${{ steps.test_server.outputs.instance_id }}

      - name: Run k6 test
        uses: peterkimzz/aws-ssm-send-command@master
        id: k6_test_run
        with:
          aws-region: ${{ env.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          instance-ids: ${{ steps.k6_test.outputs.instance_id }}

          working-directory: /tmp
          command: |
            while [ ! -f /var/lib/cloud/instance/boot-finished ]; do sleep 1; done
            aws s3 cp s3://${{ env.S3_BUCKET }}/script.js script.js
            TARGET_HOSTNAME=${{ steps.test_server.outputs.ip }} TARGET_PORT=80 DOWNLOAD_PATH=README.md K6_WEB_DASHBOARD=true K6_WEB_DASHBOARD_EXPORT=/tmp/html-report.html k6 run script.js
            aws s3 cp ${{ env.K6_WEB_DASHBOARD_EXPORT }} s3://${{ env.S3_BUCKET }}/k6-result-${{ github.run_id }}.html

      - name: Get the outputs
        run: |
          for i in {1..20}; do
            STATUS=$(aws ssm list-command-invocations \
              --command-id ${{ steps.k6_test_run.outputs.command-id }} \
              --instance-id ${{ steps.k6_test.outputs.instance_id }} \
              --details \
              --query "CommandInvocations[0].Status" \
              --output text)
            echo "Current status: $STATUS"
            if [[ "$STATUS" == "Success" ]]; then
              break
            elif [[ "$STATUS" == "Failed" ]]; then
              echo "Command failed"
            fi
            sleep 3
          done
          echo "The Command id is ${{ steps.k6_test_run.outputs.command-id }}"
          aws ssm get-command-invocation --command-id ${{ steps.k6_test_run.outputs.command-id }} --instance-id ${{ steps.k6_test.outputs.instance_id }}

      - name: Download k6 result from S3
        run: aws s3 cp s3://${{ env.S3_BUCKET }}/k6-result-${{ github.run_id }}.html ./k6-result.html

      - name: Upload k6 result as artifact
        uses: actions/upload-artifact@v4
        with:
          name: k6-result
          path: ./k6-result.json

      - name: Terraform Destroy
        if: always()
        run: terraform -chdir=infra destroy -auto-approve
