name: Manual Test, Docker Build/Push + EC2 + k6 Load Test

on:
  workflow_dispatch:
    inputs:
      server_image:
        description: "Which server image to test?"
        required: true
        default: "server"
        type: choice
        options:
          - server
          - callback_server
          - awaitable_server
          - nginx

jobs:
  test-server:
    runs-on: ubuntu-latest
    env:
      SERVER_IMAGE: ${{ github.event.inputs.server_image }}
      REPO: ${{ github.repository.toLowerCase() }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u jmyl --password-stdin

      - name: Build server Docker image
        run: docker build -f docker/Dockerfile --build-arg TARGET=${SERVER_IMAGE} -t ghcr.io/${REPO}/${SERVER_IMAGE}:latest .

      - name: Push server Docker image
        run: docker push ghcr.io/jmyl/${REPO}/${SERVER_IMAGE}:latest

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform -chdir=infra init

      - name: Terraform Apply
        run: terraform -chdir=infra apply -auto-approve

      - name: Terraform Apply
        run: |
          if [ "$SERVER_IMAGE" = "nginx" ]; then
            terraform -chdir=infra apply -auto-approve -var="server_image=nginx:latest"
          else
            terraform -chdir=infra apply -auto-approve -var="server_image=ghcr.io/${REPO}/${SERVER_IMAGE}:latest"
          fi

      - name: Get EC2 Public IP
        id: get_ip
        run: |
          echo "ip=$(terraform -chdir=infra output -raw public_ip)" >> $GITHUB_OUTPUT

      - name: Wait for server to be ready
        run: |
          for i in {1..30}; do
            if curl -sSf "http://${{ steps.get_ip.outputs.ip }}/files/README.md" > /dev/null; then
              echo "Server is up!"
              exit 0
            fi
            echo "Waiting for server..."
            sleep 10
          done
          echo "Server did not become ready in time." >&2
          exit 1

      - name: Run k6 cloud test
        env:
          K6_CLOUD_TOKEN: ${{ secrets.K6_CLOUD_TOKEN }}
          TARGET_HOSTNAME: ${{ steps.get_ip.outputs.ip }}
        run: |
          k6 cloud login --token $K6_CLOUD_TOKEN 
          k6 cloud run k6/script.js

      - name: Terraform Destroy
        if: always()
        run: terraform -chdir=infra destroy -auto-approve
